version: '3.8'
services:
    discord-spicy-bot:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - sqlite-data:/app/db
        environment:
            NODE_ENV: production
            DISCORD_APP_ID: ${DISCORD_APP_ID}
            DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
            SQLITE_DB_PATH: /app/db/database.sqlite
        restart: unless-stopped

volumes:
    sqlite-data:
        driver: local
